<%= render "shared/header" %>
  <%# ユーザー情報 %>
  <div classs="container-fluid">
    <%# ユーザー編集機能 %>
    <% if user_signed_in? && current_user.id == @user.id %>
    <div class="d-flex justify-content-center pt-5 pb-3">
        <button type="button" class="btn btn-light"><%= link_to '編集', edit_user_path, method: :get %></button>
    </div>
    <% end %>
    <%# ユーザー画像 %>
    <div class="row">
      <div class="col-4 pt-2 d-flex justify-content-end ">
        <% if @user.avatar.attached? %>
        <div class="d-flex justify-content-center">
          <%= image_tag @user.avatar.variant(resize: '200x200'), class: "my_page_avatar"%>
        </div>
        <%# 画像がない時のサンプルデータ %>
        <% else %>
          <%= image_tag "sample.png", :size =>'100x100', class: "my_page_avatar"%>
        <% end %>
      </div>
      <%# ユーザーネームと自己紹介 %>
      <div class="col-6 pt-4 pl-5">
        <h4 class="text-left font-weight-bolder pb-2">
          <%= @user.name %>
        </h4>
        <% if @user.description == nil %>
        <%# 自己紹介のサンプルデータ %>
          <p class="text-left">ユーザー編集で自己紹介文を入力してください</p>
        <% else %>
          <%= @user.description %>
        <% end %>
      </div>
    </div>

  <div class="container-lg d-flex justify-content-center">
      <%# マイページの投稿一覧 %>
    <div class="row mt-4 mb-5">
      <div class="col-md-">
        <% @post.each do |my_post| %>
          <%# 投稿詳細ページにリンク %>
          <div class="card mb-3" style="width: 50rem;">

            <%= link_to post_path(my_post.id) do %>
              <%# 投稿イメージ画像 %>
              <%= image_tag my_post.image.variant(resize: '500x500'), class: 'img-thumbnail rounded mx-auto d-block mt-5' %>
            <% end %>
              <%# 投稿内容 %>
            <div class="card-body mx-5">
              <h4 class="d-flex justify-content-center pt-3 pb-4">
                <%= my_post.title %>
              </h4>
                <%# 表示する文字数を制限 %>
              <div class="col-sm">
                <p class="my_page_post_text">
                  <%= truncate(my_post.text, length: 300) %>
                </p>
              </div>
              <p class="my_page_tag">
                <%= link_to "記事を見る", post_path(my_post.id), class: "view_article" %>
              </p>
                <%# 関連タグ %>
              <div class="row">
                <div class="col ml-5">
                  <% my_post.tags.each do |tag| %>
                  <button type="button" class="btn btn-outline-light text-black-50 my-1 mx-1"><%= tag.name %></button>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
