<div class="login_main">
  <nav class="navbar navbar-expand-lg navbar-light border-bottom border-dark bg-transparent">
    <header class="login_header">
      <%= link_to image_tag('MIRMlogo.png' , size: '100x100'), "/" %>
      <div class="registrations_btn">
        <%= link_to '新規登録はこちら', new_user_registration_path, class: "btn btn-light text-dark " %>
      </div>
    </header>
  </nav>

  <div class="sessions_background">
    <div class="container  d-flex justify-content-center text-light">
      <div class="row border border-light w-50 py-5 my-5 flex-column">
        <%= form_with model: @user, url:user_session_path, class: 'registration-main', local: true do |f| %>
        <h3 class="session_form_title">ログイン</h3>
          <div class="col">
            ソーシャルSNS
          </div>
          <div class="col">
          <label class="form_label">
            メールアドレス
          </label>
            <%= f.email_field :email, class:"input-default", id:"email", placeholder:"PC・携帯どちらでも可", autofocus: true %>
          </div>
          <div class="col">
          <label class="form_label">
            パスワード
          </label>
            <%= f.password_field :password, class:"input-default", id:"password", placeholder:"" %>
            <p class="password_info">6文字以上、英・数・記号が使えます</p>
          </div>
          <%= f.submit "ログイン" ,class:"registration_form_btn" %></div>
        <% end %>
      </div>
    </div>
  </div>
</div>
<%= render "shared/footer"%>