<div class="post_main">

  <header class="post_header">
    <%= link_to image_tag('MIRMlogo.png' , size: '120x120'), "/" %>
  </header>

    <div class="container bg-white">

      <%= form_with model: @post, local: true do |f| %>
        <%# imageアップロード %>
        <div class="row mb-2 mt-4">
          <div class="col d-flex justify-content-center">
                <%= f.label :image do %>
                  <%= fa_icon "camera 3x" %>
                <%= f.file_field :image, style: "display: none;", autocomplete: "image" %>
              <% end %>
            </div>
          </div>
        </div>
        <%# タイトルフォーム %>
        <div class="row">
          <div class="col form-group">
            <%= f.text_field :title, class:"input_title shadow", placeholder:"タイトル" %>
          </div>
        </div>
        <%# tagフォーム %>
        <div class="row">
          <div class="col form-group">
            <%= f.text_field :tag_ids, class: "input_tag shadow", id:'tag_ids', placeholder: "タグをつける。複数つけるには','で区切ってください。" %>
          </div>
        </div>
        <%# 本文フォーム %>
        <div class="row">
          <div class="col form-group">
            <%= f.text_area :text, class:"form_text shadow", placeholder:"本文を書いてください" %>
          </div>
        </div>
        <%# 投稿ボタン %>
        <div class="row">
          <div class="col form-group d-flex justify-content-center">
            <%= f.submit "投稿する", class:"form_submit"%>
          </div>
        </div>
      <% end %>

    </div>
</div>