<div class="post_main">

  <header class="post_header">
    <%= link_to image_tag('MIRMlogo.png' , size: '100x100'), "/" %>
  </header>

  <div class="post_content">
    <div class="container">
    <%= form_with model: @post, local: true do |f| %>
      <div class="row">
      <%= f.file_field :image, class:"form_image", autocomplete: "image" %>
      </div>
      <div class="row">
        <%= f.text_field :title, class:"form_title", placeholder:"タイトル" %>
      </div>
      <div class="row">
        <%= f.text_area :text, class:"form_text", placeholder:"本文を書いてください" %>
      </div>
      <%= f.submit "投稿する", class:"form_submit"%>
    <% end %>
    </div>
  </div>
</div>