<header>
  <div class="container">
    <%= link_to image_tag('MIRMlogo.png' , size: '100x100'), "/" %>
    <div class="title">MIRM
    </div>
    <div class="search">
    検索フォーム
    </div>
    <div class="header_nav">
      <%# <% if user_signed_in? %> %>
      <ul>
        <li>ユーザー詳細ページボタ</li>
        <li><%= link_to '投稿', new_post_path, class: "post_btn" %></li>
        <li><%= link_to "ログアウト", destroy_user_session_path,class: "sign-up", method: :delete %></li>
      </ul>
      <%# <% else %> %>
      <ul>
        <li><%= link_to '新規登録', new_user_registration_path, class: "sign_up" %></li>
        <li><%= link_to 'ログイン', new_user_session_path, class: "login" %></li>
      </ul>
      <%# <% end %> %>
    </div>
  </div>
</header>


<div class="container">

  <%# 画像表示 %>
  <%= image_tag @post.image.variant(resize: '600x600'), class: 'img-thumbnail rounded mx-auto d-block' %>

  <div>
    <%= @post.title %>
  </div>
  <div>
    <%= @post.text %>
  </div>
  
</div>

