  <%= render "shared/header" %>

  <div class="container bg-white">
    <% if  user_signed_in? && current_user.id == Post.find(params[:id]).user_id %>
        <ul class="list-group list-group-horizontal-md  d-flex justify-content-center">
          <li class="list-group-item">
          <button type="button" class="btn btn-light"><%= link_to '編集', edit_post_path(@post.id), method: :get %></button>
          </li>
          <li class="list-group-item">
          <button type="button" class="btn btn-light"><%= link_to '削除', post_path(@post.id), method: :delete %></button>
          </li>
        </ul>
        <% else %>
      <% end %>
    <div class="mx-5">
    <%# 画像表示 %>
    <%= image_tag @post.image.variant(resize: '600x600'), class: 'img-thumbnail rounded mx-auto d-block mt-3' %>

    <%# タイトル表示 %>
    <div class="row w-100">
      <div class="col h1 d-flex justify-content-center align-middle mt-5">
        <%= @post.title %>
      </div>
    </div>

    <%# 本文表示 %>
    <div class="row w-100">
      <div class="col h5 d-flex justify-content-center align-middle my-3">
        <div class="show-text"><%=safe_join(@post.text.split("\n"),tag(:br))%></div>
      </div>
    </div>

  </div>

  <%# コメント一覧 %>
  <div class="container">
      <div class="comments my-3">
        <h4 class="d-flex justify-content-center align-middle"><%= fa_icon "comment 1x " %>コメント一覧</h4>
        <%# コメントユーザーネーム %>
        <% @comments.each do |comment| %>
          <div class="row d-flex justify-content-center align-middle">
            <div class="col mt-3 font-weight-bold">
              <%= link_to comment.user.name, "/users/#{comment.user_id}" %>
            </div>
          </div>
          <%# コメント本文 %>
          <div class="row border-bottom border-dark">
            <div class="col d-flex justify-content-left align-middle my-3">
            <%= comment.text %>
            </div>
          </div>
        <% end %>
      </div>
    </div>

  <%# コメント投稿フォーム %>
  <div class="container ">
  <%# ユーザー情報 %>
    <div class="row">
      <div class="col">
        <%# ログイン確認 %>
        <% if user_signed_in? %>
        <% if @user.avatar.attached? %>
          <%= image_tag @user.avatar.variant(resize: '100x50'), class: "my_page_avatar", id: "image" %>
        <% else %>
          <%= image_tag "sample.png", :size =>'50x50', class: "my_page_avatar"%>
      <% end %>
        <span class="span">投稿する</span>
      </div>
    </div>
    <%# コメントフォーム %>
    <div class="row d-flex flex-column my-4">
      <div class="col">
        <%= form_with(model: [@post, @comment], local: true) do |f| %>
          <%= f.text_area :text, class:"input_comment", placeholder: "コメントする", rows: "5" %>
      </div>
      <div class="col d-flex justify-content-end">
        <%= f.submit "投稿", class:"comment_form_submit"%>
      </div>
    </div>
    <% end %>
      <% else %>
        <strong><p class="d-flex justify-content-center">※※※ コメントの投稿には新規登録/ログインが必要です ※※※</p></strong>
      <% end %>
  </div>